
@{
    ViewBag.Title = "Shoutbox - send to all";
}

<h2>Shoutbox - talk with everybody!</h2>

<input type="text" id="message-shoutbox"/>
<button type="button" id="send-shoutbox">Send</button>

<ul id="discussion-shoutbox"></ul>

@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function() {
            var shoutbox = $.connection.shoutboxHub;

            shoutbox.client.addNewMessage = function(message) {
                $('#discussion-shoutbox').append('<li>' + message + '</li>');
            };

            $('#message-shoutbox').focus();

            $.connection.hub.start().done(function () {
                $('#message-shoutbox').keypress(function (e) {
                    if (e.keyCode == 13)
                        sendMessage();
                });
                $('#send-shoutbox').click(function () {
                    sendMessage();
                });

                function sendMessage() {
                    shoutbox.server.send($('#message-shoutbox').val());
                    $('#message-shoutbox').val('').focus();
                }
            });
        });
    </script>
}