@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    ViewBag.Title = "Ooops!";
}

<h1>Oops!</h1>
<div class="error-details">
    Sorry, access denied! <span class="glyphicon glyphicon-remove-circle"></span>
</div>
<div>
    Please, contact with our support team <span class="glyphicon glyphicon-hand-down"></span>
</div>
