@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<h1>Ooops!</h1>
<div>
    We're so sorry, but some error has occured...
</div>
<div>
    Please, contact with our support team 
</div>
<div><h1 class="glyphicon glyphicon-hand-down"></h1></div>
