.discussion {
    margin: 2em auto;
    padding: 0 1em;
    max-height: 20em;
    overflow-y: auto;
    background-color: rgb(246, 246, 246);
}

.discussion li:not(:last-child) {
    border-bottom: 1px dashed rgb(170, 170, 170);
}

#users-list {
    max-height: 30em;
    overflow-y: auto
}

    .add-user-panel .list-group-item-heading {
        font-size: 18px;
        font-style: italic;
        color: rgb(133, 133, 133);
    }

    .edit-user-panel .list-group-item-heading {
        font-size: 18px;
        font-style: italic;
        color: rgb(133, 133, 133);
    }

    .remove-role > .glyphicon {
        display: none;
    }

    .remove-role:hover > .glyphicon{
        display: inline;
    }

.remove-user {
    display: none;
}

        .roles > .list-group-item-heading:hover > .remove-user {
            display: inline;
        }

.edit-user {
    display: none;
}

        .roles > .list-group-item-heading:hover > .edit-user {
            display: inline;
            margin-right: 0.2em;
        }

#information-panel {
    position: fixed;
    top: 100px;
    left: 50px;
    z-index: 2;
    display: none;
}


footer .float-left,
	footer .float-right {
		float: none;
	}

	footer {
		text-align: center;
		height: auto;
		padding: 10px 0;
	}

		footer p {
			margin: 0;
		}